.home {
    display: flex;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.portfolio-holder {
    text-align: left;
    width: 30%;
    max-width: 30%;
    height: 100%;
    margin-right: 2rem;
}

.portfolio-chart div,
.portfolio-holder div,
.MuiDialog-container div {
    background-color: #424242;
    color: white;
}

.portfolio-chart {
    width: 100%;
}

div.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}