.overall-container {
    border-radius: 10px;
    padding: 50px 100px;
    text-align: center;
    background-color: white;
}

.input-field {
    padding: 10px;
}

.input-field > .MuiFormControl-root {
    width: 400px;
}

.overall-container button {
    margin-top: 40px;
}

.name-input {
    display: flex;
    width: 400px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}